*{margin: 0%;
    padding: 0%;
}
body{display: flex;
    justify-content: center;
    margin-top: 3rem;
     background-color: #262a2f;
   
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
h2{
    margin-top: 3rem;
}
button{
    margin-top: 4rem;
    max-height: 2rem;
    font-size: 1.5rem;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
span{margin-top: 2rem;
font-size: 2rem;
color: red;}
input{font-size: 1rem;}

form{
    height: 630px;
    width: 450px;
    border: solid;
    border-radius: 1rem;
    padding-left: 5rem;
     background-color:#afcebd;
     font-size: 1rem;
    
}

input{
    border-radius: 10%;
    background-color: beige;
    font-size: 1.2rem;
}

P{
    font-size:1.2rem;
}

.result{
    margin-top: 20px;
}
